extends ../../layouts/default.pug


block main 
  .product-detail 
    h2 #{product.title}
    if(product.price)
      p Giá: 
        strong #{product.price}$
    
    if(product.discountPercentage)
      p Giảm giá: 
        strong #{product.discountPercentage}%
    if(product.stock)
      p Còn lại: 
        strong #{product.stock}
    if(product.thumbnail)
      img(src=product.thumbnail, alt=product.title style="width:200px;")

    p Trạng thái 
      if(product.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

    p Vị trí:
      b #{product.position}
    
    if(product.description) 
      p !{product.description}

  a(href=`${prefixAdmin}/products/edit/${product._id}` class="btn btn-warning" )  Chỉnh sửa 
      
