extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
  .product-detail
    - if(record.title)
        h2 #{record.title}
    - if(record.description)
        div !{record.description}
    - if(record.content)
        div !{record.content}
    - if(record.position)
        p Vị trí: 
          b #{record.position}
      
    div 
          a(href=`${prefixAdmin}/news/edit/${record._id}` class="btn btn-warning") Chỉnh sửa 