extends ../../layouts/default.pug


block main
  .product-detail 
    .row 
      .col-6
        .inner-image 
          img(src=product.thumbnail, alt=product.title style="")
      .col-6 
        .inner-content
          h2 #{product.title}
          p(class="inner-price-new") #{product.priceNew}$
          p(class="inner-price-old") #{product.price}$

          p Giảm giá tới: 
            strong(class="inner-discount") #{product.discountPercentage}%
          p Còn lại: 
            strong(class="inner-stock") #{product.stock}
            span sản phẩm
        form(action=`/cart/add/${product._id}` method="POST")
          .form-group 
            input(type="number" class="form-control" min="1" max=product.stock value=1 name="quantity")
          button(class="btn btn-success") Thêm vào giỏ hàng  
    div(class="inner-desc-title") Mô tả sản phẩm 
    div(class="inner-desc") !{product.description}

      
