extends ../../layouts/default.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/search.pug
include ../../mixins/sort.pug
include ../../mixins/filterStatus.pug
include ../../mixins/alert.pug



block main 
  +alert-success(2500)
  +alert-error(3500)
  - const optionsChange = [{title: "Hoạt động", value: "active"}, {title: "Khóa tài khoản", value: "locked"},{title: "Xóa tất cả", value: "delete-all"}]
  - if(roles.permissions.includes(`users-read`))
      h2 Trang khách hàng
      .card 
        .card-header 
          p Bộ lọc và tìm kiếm 
        .card-body 
          .row 
            .col-4 
              p(class="mb-2") Trạng thái 
              +filterStatus(filterStatus)
            .col-4
              p(class="mb-2") Sắp xếp
              +formSort('user')
            .col-4  
              p(class="mb-2") Tìm kiếm
              +formSearch(query)
      +formChangeMulti(`${prefixAdmin}/users/change-multi?_method=PATCH`, 'users', optionsChange, 'users')
      
      table(
        class="table table-hover mt-4"
      ) 
        thead 
          tr  
            th 
              input(type="checkbox" name="checkAll")
            th STT
            th Email
            th Trạng thái
            th Hành động 
          
        tbody 
          each item,index in records 
            tr 
              td 
                input(type="checkbox" value=item._id name="id-change")
              td #{index + 1}
              td #{item.email}
              - if(roles.permissions.includes(`users-edit`))
                  td 
                    if(item.status === "active")
                      a(href="javascript:;" class="badge badge-success" data-status="active" data-id=item._id btn-change-status) Hoạt động
                    else
                      a(href="javascript:;" class="badge badge-danger" data-status="inactive" data-id=item._id btn-change-status) Đã khóa
              - else 
                  td 
                    if(item.status === "active")
                      span(class="badge badge-success") Hoạt động
                    else
                      span(class="badge badge-danger") Đã khóa
              td 
                a(class="btn btn-warning btn-sm mx-2" href=`${prefixAdmin}/users/edit/${item._id}`) Sửa 
                - if(roles.permissions.includes(`users-delete`))
                    button(class="btn btn-danger btn-sm" btn-delete value= item._id) Xóa
      form(
          action=""
          method="POST"
          id="form-delete-item"
          data-path=`${prefixAdmin}/users/delete`
        ) 
      form(action=``, method="post" data-path=`${prefixAdmin}/users/change-status` id="form-change-status")
  - else 
      h3 Bạn không có quyền   
  script(src="/admin/js/user.js")  
            
  