extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
  +alert-error(3000)
  
  h2 Tạo mới danh mục
  form(
    action=`${prefixAdmin}/products-category/create` 
    method="POST" 
    enctype="multipart/form-data"
  )
    .form-group
      label(for="title") Tiêu đề
      input(
        type="text" 
        class="form-control" 
        name="title" 
        id="title"
        required
      )
    .form-group
      label(for="parent_id") Danh mục cha
      select(name="parent_id" class="form-control")
        option(value="") -- Chọn danh mục -- 
        +select-tree(records)

    .form-group
      label(for="desc") Mô tả
      textarea(
        class="form-control textarea-mce" 
        name="description" 
        id="desc"
        rows=4
      )
    .form-group
      label(for="thumb") Hình ảnh
      input(
        type="file"
        min="0"
        class="form-control-file" 
        name="thumbnail" 
        id="thumb"
        accept="image/*"
        input-preview-image
      )

      div(class="img-container")
        img(src="", alt="" image-preview)
        div(class="remove-image")
          span X 
      

    .form-group
      label(for="pos") Vị trí
      input(
        type="number"
        min="0"
        class="form-control" 
        name="position" 
        id="pos"
      )
    
    .my-2 
      .form-check 
        input(type="radio" name="status" id="statusActive" value="active" checked)
        label(for="statusActive" class="form-check-label") Hoạt động
      .form-check 
        input(type="radio" name="status" id="statusInactive" value="inactive" )
        label(for="statusInactive" class="form-check-label") Dừng hoạt động
    
    button(class="btn btn-primary" type="submit") Tạo mới