mixin formChangeMulti(action, suffix, options = [], permission)
  - if(roles.permissions.includes(`${permission}-create`) || roles.permissions.includes(`${permission}-edit`))
    .card.mt-3.mb-2
      .card-header 
        p Options 
      .card-body
        .row 
          - if(roles.permissions.includes(`${permission}-edit`))
              .col-8
                form(
                  action= action
                  id="form-change-multi"
                  method="POST"
                ) 
                  .d-inline-flex.align-items-center
                    select(class="form-control" name="type")
                      each item in options 
                        option(value= item.value) #{item.title}
                    input(type="text" class="form-control d-none" name="ids")
                    button(type="submit" class="btn btn-primary btn-apdung") Áp dụng
          - if(roles.permissions.includes(`${permission}-create`))
              .col-4 
                a(class="btn btn-outline-success" href=`${prefixAdmin}/${suffix}/create`) + Thêm mới