extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  div(class="my-3")
    +box-head("Giỏ hàng")
    - if(cart.products.length > 0) 
        table(class="my-table")
          thead 
            th STT
            th Ảnh
            th Tên
            th Giá
            th Số lượng
            th Tổng tiền 
            th Hành động
          tbody 
            each item,index in cart.products 
              tr 
                td #{index + 1}
                td
                  img(src=item.product.thumbnail, alt="")
                td
                  a(href=`/products/detail/${item.product.slug}` class="inner-title")  #{item.product.title}
                td #{item.product.priceNew}$
                td 
                  input(type="number" min=1 input-change-quantity data-id=item.product_id value= item.quantity)
                td #{item.totalPrice}$
                td 
                  button(class="btn btn-danger" btn-delete-productCart data-id=item.product_id) Xóa
        div(class="my-3", style="text-align: right;") 
          h2 Tổng đơn hàng: #{totalPriceCart}$
          a(href="/checkout" class="btn btn-success") Thanh toán
    - else 
        h4 Giỏ hàng hiện tại đang trống. Hãy thêm
          a(href="/products")  Sản phẩm
          span  mới vào giỏ hàng
           
          
  
  form(
    action=``
    data-path=`/cart/update/`
    form-change-quantity
    class="d-none"
    method="POST"
    ) 
    input(type="text" name="quantity")

  form(
    action=``
    data-path=`/cart/delete/`
    form-delete-productCart
    class="d-none"
    method="POST"
    )
  
  script(src="/js/cart.js")